# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

ctests.xcodeproj/

# autoconf files

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
depcomp
install-sh
missing
config.log
config.status
config.h
stamp-h1
.deps/

tags
*~.*
*~

curltest
dedupints
defines
eatmemory
rextest

# cmake files

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Debug/
Project.build/
Project.xcodeproj/
*.cmake

